@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<header class="bg-dark text-white" >
    <div class="container text-center">
        <h1>Welcome to Student Management System!</h1>
        <p class="lead">Manage Students and Courses.  </p>
    </div>
</header>

